.archive p a {
  color: #52adc8;
}

.feature__item {
  text-align: center;

  img {
    max-width: 200px;
  }
}
article.page {
  p, li, dl {
    font-size: 1.2em;
  }
}
p, li, dl {
  font-size: 1.2em;
}
.expandcontract {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 1em;
}
