---
layout: archive
author_profile: true
feature_row:
  - image_path: mentorimpactcover.png
    alt:
    title: "Mentor Impact"
    excerpt: "How mentors truly change startups."
    url: "http://mentorimpact.co"
    btn_label: "Read It"
    btn_class: "btn--inverse"
  - image_path: decisionhackscover.png
    alt:
    title: "Decision Hacks"
    excerpt: "How startup founders make good decisions fast."
    url: "http://decisionhacks.co"
    btn_label: "Sign Up"
    btn_class: "btn--inverse"
  - image_path: acceleratordesignguidecover.png
    alt: "Accelerator Design Guide cover showing a computer at a desk"
    title: "The Accelerator Design Guide"
    excerpt: "Make your accelerator accelerate."
    url: http://guides.co/g/the-accelerator-design-guide/
    btn_label: "Read It"
    btn_class: "btn--inverse"
---

{% include base_path %}
{% if paginator.page == 1 %}


<div class="homepagevid">
<div class="expandcontract">
<iframe src="https://player.vimeo.com/video/178902763?autoplay=0&byline=0&portrait=0" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
</div>

<p><strong>I'm an entrepreneur and educator.</strong>

<p>I'm the founder of <a href="http://source.institute">Source Institute</a> which develops peer-to-peer education - much more relevant for fast-changing contexts. Our programmes include: <a href="http://leancamp.co/">Leancamp</a>, <a href="http://villageaccelerator.org">Village Accelerator</a>, <a href="http://africaprize.co">The Africa Prize</a> and <a href="http://thesources.co">The Sources</a> to name a few. 

<p>I started building companies at 16 in Canada, with a few IT service providers, later an ecommerce startup, then an international marketing agency. By 24, I was in London, where I started <a href="http://leancamp.net">Leancamp</a>, a knowledge-sharing community which has grown to 30 cities on 4 contininents, and <a href="http://foundercentric.com">Founder Centric</a>, a boutique workshop design agency for Europe's top accelerators and universites.  
<p>I've designed startup education programmes for the likes of UCL, Oxford, Seedcamp, and The Royal Academy Of Engineering.

<h3 class="archive__subtitle">Books</h3>
{% include feature_row %}


{% endif %}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
