<footer class="site-footer">

  <div class="wrapper">

      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>

      {% endif %}</p>

    <h2 class="footer-heading">Read more of <a href="{{site.url}}">{{ site.description | escape }}</a></h2>
  <p>You can signup to <a href="http://eepurl.com/bavfAb">get my writing by email. <i class="fa fa-envelope"></i></a>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

    </div>

  </div>

</footer>
