---
layout: default

---

<div class="home">

  {{ content }}
  
  <a href="{{ "/" | relative_url }}"><img class="profile-image" src="{{ '/images/salim_virani.png' | relative_url }}"></a>
  <p>Hi, I'm Salim, a tech entrepreneur and educator.  I'm the founder of <a href="http://source.institute">Source Institute</a>, which designs <a href="http://community.source.institute/t/the-source-thesis/47">peer learning</a> programmes for fast-changing, multi-disciplinary topics.  
  
  <p>I also started <a href="http://thesources.co">Africa's largest dedicated tech entrepreneurship course</a>, Europe's first <a href="http://foundercentric.com">entrepreneur-led education company</a> , and a global community <a href="http://leancamp.net">that developed The Lean Startup movement</a>.
   <p>My work has been used at Seedcamp, Techstars, Oxford Univsersity, UCL, Imperial College, Unilever, and the UK Royal Academy Of Engineering.
  <p>I write about peer learning, humanitech, and privacy. You can <a href="http://eepurl.com/bavfAb">get my writing by email. <i class="fa fa-envelope"></i></a>

  <h2>Books</h2>

  <ul class="books">
  <li><a href="http://mentorimpact.com"><img src="{{ "/assets/images/mentorimpactcover.png" | relative_url }}">
    <span class="title">Mentor Impact</span> - mentor techniques from the best in top-performing accelerators</a>
    </li>
    
  <li><a href="http://decisionhacks.co"><img src="{{ "/assets/images/decisionhackscover.png" | relative_url }}">
    <span class="title">Decision Hacks</span> - how startup founders make good decisions fast</a>
    </li>

    <li><a href="http://peerlearning.guide"><img src="{{ "/assets/images/peerlearningguidecover.png" | relative_url }}">
    <span class="title">The Peer Learning Guide</span> - designing education programs for fast-changing topics</a></li>
    </ul>
  <h2>Blog</h2>
 
  <table class="post-list">
    {% for post in site.posts %}
      {% if post.featured == true %}
        <tr>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <td class="post-meta"><span class="post-meta">{{ post.date | date: date_format }}</span></td>
          <td><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
  {% include featured_tags %}
 
</div>
